alabaster==1.0.0
anyio==4.4.0
apparmor==3.1.7
application-utility==1.3.2
argcomplete==3.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.1.dev0
autocommand==2.2.2
Babel==2.15.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
black==24.8.0
bleach==6.1.0
btrfsutil==6.10
catfish==4.18.0
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cockpit @ file:///build/cockpit/src/cockpit-322/tmp/wheel/cockpit-322-py3-none-any.whl#sha256=3625b95504d27664a869400118312554de47155a58eebf5ee5a5e370ff4d4d13
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cryptography==42.0.7
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.3.2
debugpy==1.8.5+0.ga68a804f.dirty
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
dnspython==2.6.1
docopt==0.6.2
docutils==0.21.2
executing==2.0.0
Faker==25.9.2
fastjsonschema==2.20.0
filelock==3.13.3
fonttools==4.53.1
fqdn==1.5.1
gmpy2==2.2.1
gufw==24.4.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
imagesize==1.4.1
importlib_metadata==7.2.1
inflect==7.3.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jaraco.text==4.0.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.4
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-sphinx==0.5.3
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
keyring==25.2.1
keyutils==0.6
kiwisolver==1.4.5
lensfun==0.3.4
LibAppArmor==3.1.7
lightdm-gtk-greeter-settings==1.2.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
menulibre==2.4.0
mistune==3.0.2
more-itertools==10.3.0
mpmath==1.3.0
mugshot==0.4.3
mypy_extensions==1.0.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest_asyncio==1.6.0
netsnmp-python==1.0a1
nftables==0.1
notebook==7.2.1
notebook_shim==0.2.4
npyscreen==4.10.5
numpy==2.0.1
olefile==0.47
ordered-set==4.1.0
overrides==7.7.0
packaging==24.1
pacman_mirrors==4.27
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pipx==1.6.0
platformdirs==4.2.2
pluggy==1.5.0
pooch==1.8.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==1.12.0
protonvpn-nm-lib==3.16.0
psutil==6.0.0
psycopg2==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
pyasyncore==1.0.4
pycairo==1.26.1
pycparser==2.22
pycryptodome==3.20.0
pycups==2.0.4
pycurl==7.45.3
Pygments==2.18.0
PyGObject==3.48.2
pyOpenSSL==24.2.1
pyparsing==3.1.2
PyQt5==5.15.11
PyQt5_sip==12.15.0
pyrsistent==0.19.3
pytest==8.3.2
python-dateutil==2.9.0
python-gnupg==0.5.2
python-json-logger==2.0.7
pythondialog==3.5.3
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.2
pyzmq==25.1.2
QTermWidget==2.0.1
referencing==0.35.1
reportlab==4.2.2
requests==2.32.3
rfc3339_validator==0.1.4
rfc3987==1.3.8
rich==13.7.1
rpds-py==0.19.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s-tui==1.1.6
scipy==1.14.0
SecretStorage==3.3.3
Send2Trash==1.8.2
setuptools==69.5.1
Shredder==2.10.2
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==7.4.7
sphinx-autodoc-typehints==2.2.3
sphinx-bootstrap-theme==0.8.1
sphinx_pytest==0.2.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack_data==0.6.3
sympy==1.13.2
systemd-python==235
TBB==0.2
tinycss2==1.3.0
tomli==2.0.1
tornado==6.4.1
traitlets==5.14.3
trove-classifiers==2024.7.22
typeguard==4.3.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
udiskie==2.5.3
ufw==0.36.2
uri-template==1.3.0
urllib3==1.26.19
urwid==2.6.15
userpath==1.9.2
validate-pyproject==0.19
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.44.0
wxPython==4.2.1
yt-dlp==2024.8.6
zipp==3.19.3.dev0+gc6a3339.d20240728
